In [36]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import json # library to handle JSON files

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

import lxml

import re

print('Libraries imported.')

Libraries imported.

In [16]:
dict_link = {
    'Houston': 'https://en.wikipedia.org/wiki/List_of_Houston_neighborhoods',
    'Chicago': 'https://en.wikipedia.org/wiki/List_of_neighborhoods_in_Chicago'
}

dict_cities = {
    
}

In [26]:
def get_coord(address):

    geolocator = Nominatim(user_agent="to_explorer")
    try:
        location = geolocator.geocode(address)
        latitude = location.latitude
        longitude = location.longitude
        print(f'The geograpical coordinate of {address} are {latitude:.2f}, {longitude:.2f}.')
        return latitude, longitude
    except:
        return None, None

## Download Data

### New York

In [17]:
with open('../data/newyork_data.json') as json_data:
    newyork_data = json.load(json_data)

neighborhoods_data = newyork_data['features']

# define the dataframe columns
column_names = ['Borough', 'Neighborhood', 'Latitude', 'Longitude'] 

# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)

for data in neighborhoods_data:
    borough = neighborhood_name = data['properties']['borough'] 
    neighborhood_name = data['properties']['name']
        
    neighborhood_latlon = data['geometry']['coordinates']
    neighborhood_lat = neighborhood_latlon[1]
    neighborhood_lon = neighborhood_latlon[0]
    
    neighborhoods = neighborhoods.append({'Borough': borough,
                                          'Neighborhood': neighborhood_name,
                                          'Latitude': neighborhood_lat,
                                          'Longitude': neighborhood_lon}, ignore_index=True)

dict_cities['New York'] = neighborhoods

### Houston

In [18]:
table = pd.read_html('https://en.wikipedia.org/wiki/List_of_Houston_neighborhoods', header=0)[0]

In [19]:
table.head()

,#,Name,Location relative to Downtown Houston,Approximate boundaries
0,1,Willowbrook,Northwest,Along Texas State Highway 249 northwest of Bel...
1,2,Greater Greenspoint,North,Around the junction of Beltway 8 and Interstat...
2,3,Carverdale,Northwest,South of the junction of Beltway 8 and U.S. Ro...
3,4,Fairbanks / Northwest Crossing,Northwest,Along U.S. Route 290 between Interstate 610 an...
4,5,Greater Inwood,Northwest,North of Fairbanks / Northwest Crossing and ea...

In [40]:
neighborhoods = pd.Series(re.split(',; | / ', ',; '.join(table.rename(columns={'Name': 'Neighborhood'})['Neighborhood'].tolist())), name='Neighborhood').to_frame()

In [42]:
neighborhoods[['Latitude', 'Longitude']] = pd.DataFrame((neighborhoods.Neighborhood + ', Houston, USA').apply(get_coord).tolist(), index=neighborhoods.index)

The geograpical coordinate of Willowbrook, Houston, USA are 29.66, -95.46.
The geograpical coordinate of Greater Greenspoint, Houston, USA are 29.94, -95.42.
The geograpical coordinate of Carverdale, Houston, USA are 29.85, -95.54.
The geograpical coordinate of Fairbanks, Houston, USA are 29.85, -95.52.
The geograpical coordinate of Northwest Crossing, Houston, USA are 29.85, -95.50.
The geograpical coordinate of Acres Home, Houston, USA are 29.77, -95.33.
The geograpical coordinate of Hidden Valley, Houston, USA are 33.59, -84.19.
The geograpical coordinate of Westbranch, Houston, USA are 29.84, -95.55.
The geograpical coordinate of Addicks, Houston, USA are 29.78, -95.64.
The geograpical coordinate of Spring Branch West, Houston, USA are 29.80, -95.55.
The geograpical coordinate of Langwood, Houston, USA are 29.83, -95.48.
The geograpical coordinate of Independence Heights, Houston, USA are 29.84, -95.40.
The geograpical coordinate of Lazybrook, Houston, USA are 29.80, -95.44.
The geograpical coordinate of Timbergrove, Houston, USA are 29.80, -95.42.
The geograpical coordinate of Eldridge, Houston, USA are 29.47, -96.36.
The geograpical coordinate of West Oaks, Houston, USA are 29.76, -95.47.
The geograpical coordinate of Briar Forest, Houston, USA are 33.00, -97.54.
The geograpical coordinate of Westchase, Houston, USA are 28.06, -82.61.
The geograpical coordinate of Greater Uptown, Houston, USA are 29.94, -90.13.
The geograpical coordinate of Memorial Park, Houston, USA are 29.77, -95.44.
The geograpical coordinate of Afton Oaks, Houston, USA are 29.73, -95.45.
The geograpical coordinate of River Oaks, Houston, USA are 29.75, -95.44.
The geograpical coordinate of Montrose, Houston, USA are 39.16, -88.38.
The geograpical coordinate of Alief, Houston, USA are 29.71, -95.60.
The geograpical coordinate of Sharpstown, Houston, USA are 39.14, -76.22.
The geograpical coordinate of Gulfton, Houston, USA are 37.18, -94.54.
The geograpical coordinate of University Place, Houston, USA are 37.94, -88.61.
The geograpical coordinate of Westwood, Houston, USA are 31.09, -94.16.
The geograpical coordinate of Braeburn, Houston, USA are 37.26, -80.03.
The geograpical coordinate of Meyerland, Houston, USA are 29.68, -95.47.
The geograpical coordinate of Braeswood, Houston, USA are 29.68, -95.48.
The geograpical coordinate of Medical Center, Houston, USA are 29.76, -95.37.
The geograpical coordinate of Astrodome Area, Houston, USA are 29.69, -95.40.
The geograpical coordinate of Westbury, Houston, USA are 30.10, -94.31.
The geograpical coordinate of Willow Meadows, Houston, USA are 29.68, -95.45.
The geograpical coordinate of Willowbend, Houston, USA are 29.67, -95.50.
The geograpical coordinate of Fondren Gardens, Houston, USA are 29.75, -95.36.
The geograpical coordinate of Central Southwest, Houston, USA are 35.80, -89.54.
The geograpical coordinate of Fort Bend, Houston, USA are 29.69, -95.77.
The geograpical coordinate of Houston, Houston, USA are 29.76, -95.37.
The geograpical coordinate of IAH Airport, Houston, USA are 29.98, -95.33.
The geograpical coordinate of Kingwood, Houston, USA are 30.05, -95.18.
The geograpical coordinate of Lake Houston, Houston, USA are 29.76, -95.37.
The geograpical coordinate of Northside, Houston, USA are 31.61, -84.17.
The geograpical coordinate of Northline, Houston, USA are 44.99, -92.71.
The geograpical coordinate of Jensen, Houston, USA are 30.30, -94.81.
The geograpical coordinate of East Little York, Houston, USA are 39.89, -84.22.
The geograpical coordinate of Homestead, Houston, USA are 39.36, -94.20.
The geograpical coordinate of Trinity, Houston, USA are 33.35, -88.46.
The geograpical coordinate of Houston Gardens, Houston, USA are 29.76, -95.37.
The geograpical coordinate of East Houston, Houston, USA are 29.83, -95.27.
The geograpical coordinate of Settegast, Houston, USA are 29.84, -95.28.
The geograpical coordinate of Northside Village, Houston, USA are 31.61, -84.17.
The geograpical coordinate of Kashmere Gardens, Houston, USA are 29.81, -95.33.
The geograpical coordinate of El Dorado, Houston, USA are 31.18, -81.38.
The geograpical coordinate of Oates Prairie, Houston, USA are 29.80, -95.24.
The geograpical coordinate of Hunterwood, Houston, USA are 29.77, -95.50.
The geograpical coordinate of Denver Harbor, Houston, USA are 27.82, -82.61.
The geograpical coordinate of Port Houston, Houston, USA are 29.77, -95.28.
The geograpical coordinate of Pleasantville Area, Houston, USA are 39.81, -82.52.
The geograpical coordinate of Northshore, Houston, USA are 30.03, -95.23.
The geograpical coordinate of Clinton Park, Houston, USA are 29.74, -95.26.
The geograpical coordinate of Fourth Ward, Houston, USA are 29.81, -85.31.
The geograpical coordinate of Downtown, Houston, USA are 21.31, -157.86.
The geograpical coordinate of Midtown, Houston, USA are 29.74, -95.38.
The geograpical coordinate of Second Ward, Houston, USA are 29.75, -95.34.
The geograpical coordinate of Greater Eastwood, Houston, USA are 39.02, -94.54.
The geograpical coordinate of Harrisburg, Houston, USA are 29.72, -95.28.
The geograpical coordinate of Manchester, Houston, USA are 29.72, -95.26.
The geograpical coordinate of Greater Third Ward, Houston, USA are 35.23, -80.85.
The geograpical coordinate of South Union, Houston, USA are 41.57, -77.00.
The geograpical coordinate of Gulfgate Riverview, Houston, USA are 42.38, -71.24.
The geograpical coordinate of Pine Valley, Houston, USA are 30.66, -95.45.
The geograpical coordinate of Pecan Park, Houston, USA are 30.51, -81.62.
The geograpical coordinate of Sunnyside, Houston, USA are 29.14, -98.05.
The geograpical coordinate of South Park, Houston, USA are 41.74, -88.30.
The geograpical coordinate of Golfcrest, Houston, USA are 29.69, -95.30.
The geograpical coordinate of Bellfort, Houston, USA are 29.67, -95.30.
The geograpical coordinate of Reveille, Houston, USA are 29.68, -95.28.
The geograpical coordinate of Park Place, Houston, USA are 29.69, -95.28.
The geograpical coordinate of Meadowbrook, Houston, USA are 29.68, -95.26.
The geograpical coordinate of Allendale, Houston, USA are 29.69, -95.25.
The geograpical coordinate of South Acres, Houston, USA are 31.32, -89.34.
The geograpical coordinate of Crestmont Park, Houston, USA are 29.64, -95.34.
The geograpical coordinate of Minnetex, Houston, USA are 29.62, -95.36.
The geograpical coordinate of Edgebrook, Houston, USA are 29.64, -95.25.
The geograpical coordinate of Ellington, Houston, USA are 36.76, -85.42.
The geograpical coordinate of Clear Lake, Houston, USA are 33.08, -96.50.
The geograpical coordinate of Magnolia Park, Houston, USA are 29.73, -95.29.
The geograpical coordinate of MacGregor, Houston, USA are 29.71, -95.36.
The geograpical coordinate of Spring Branch North, Houston, USA are 29.78, -95.48.
The geograpical coordinate of Spring Branch Central, Houston, USA are 29.80, -95.51.
The geograpical coordinate of Spring Branch East, Houston, USA are 29.78, -95.48.
The geograpical coordinate of Greenway, Houston, USA are 29.71, -95.39.
The geograpical coordinate of Upper Kirby, Houston, USA are 39.80, -80.12.
The geograpical coordinate of Lawndale, Houston, USA are 35.41, -81.56.
The geograpical coordinate of Wayside, Houston, USA are 33.33, -101.81.

In [43]:
neighborhoods.head()

          Neighborhood   Latitude  Longitude
0          Willowbrook  29.660254 -95.456096
1  Greater Greenspoint  29.944719 -95.416074
2           Carverdale  29.848687 -95.539450
3            Fairbanks  29.852726 -95.524386
4   Northwest Crossing  29.853820 -95.504597

In [44]:
neighborhoods.loc[neighborhoods.isna().sum(1) > 0]

                                    Neighborhood  Latitude  Longitude
5                                 Greater Inwood       NaN        NaN
10                                      Park Ten       NaN        NaN
13   Central Northwest (formerly Near Northwest)       NaN        NaN
17                               Greater Heights       NaN        NaN
18                                      Memorial       NaN        NaN
23      Mid-West (formerly Woodlake/Briarmeadow)       NaN        NaN
25                   Washington Avenue Coalition       NaN        NaN
29                                      Neartown       NaN        NaN
41                                    South Main       NaN        NaN
42    Brays Oaks (formerly Greater Fondren S.W.)       NaN        NaN
67                            Greater Fifth Ward       NaN        NaN
73                                 Tri-Community       NaN        NaN
81                   Museum Park (formerly Binz)       NaN        NaN
83                                   Greater OST       NaN        NaN
99                            Greater Hobby Area       NaN        NaN
101                                   South Belt       NaN        NaN

Park Ten is the same as Addicks

In [45]:
neighborhoods = neighborhoods[neighborhoods.Neighborhood != 'Park Ten']

In [46]:
neighborhoods.loc[neighborhoods.isna().sum(1) > 0]

                                    Neighborhood  Latitude  Longitude
5                                 Greater Inwood       NaN        NaN
13   Central Northwest (formerly Near Northwest)       NaN        NaN
17                               Greater Heights       NaN        NaN
18                                      Memorial       NaN        NaN
23      Mid-West (formerly Woodlake/Briarmeadow)       NaN        NaN
25                   Washington Avenue Coalition       NaN        NaN
29                                      Neartown       NaN        NaN
41                                    South Main       NaN        NaN
42    Brays Oaks (formerly Greater Fondren S.W.)       NaN        NaN
67                            Greater Fifth Ward       NaN        NaN
73                                 Tri-Community       NaN        NaN
81                   Museum Park (formerly Binz)       NaN        NaN
83                                   Greater OST       NaN        NaN
99                            Greater Hobby Area       NaN        NaN
101                                   South Belt       NaN        NaN

Data acquired from Google Map

In [47]:
neighborhoods.loc[neighborhoods.isna().sum(1) > 0, ['Latitude', 'Longitude']] = [[29.8800973,-95.5142869],
[29.8295093,-95.4602677],
[29.7953545,-95.4219342],
[29.7653329,-95.6280326],
[29.7361698,-95.5255453],
[29.7741598,-95.4281763],
[29.7469666,-95.413642],
[29.6752812,-95.4347469],
[29.653808,-95.5513956],
[29.7754873,-95.3459998],
[29.7506196,-95.2825196],
[29.7247024,-95.3918737],
[29.6952297,-95.3625073],
[29.6262917,-95.2876597],
[29.6039379,-95.2377624]]

In [49]:
neighborhoods.loc[neighborhoods.isna().sum(1) > 0]

Empty DataFrame
Columns: [Neighborhood, Latitude, Longitude]
Index: []

In [51]:
neighborhoods.loc[(neighborhoods.Latitude - 29).abs() > 1]

           Neighborhood   Latitude   Longitude
7         Hidden Valley  33.594555  -84.191030
21         Briar Forest  32.995124  -97.542801
30             Montrose  39.164153  -88.381063
32           Sharpstown  39.136499  -76.218564
33              Gulfton  37.183669  -94.544951
34     University Place  37.936437  -88.609499
35             Westwood  31.085472  -94.158249
36             Braeburn  37.264581  -80.026706
43             Westbury  30.102158  -94.309631
47    Central Southwest  35.803687  -89.537297
51             Kingwood  30.049708  -95.184630
53            Northside  31.610729  -84.173519
54            Northline  44.990556  -92.708355
55               Jensen  30.299572  -94.812491
56     East Little York  39.894814  -84.217782
57            Homestead  39.362783  -94.200778
58              Trinity  33.345955  -88.462263
62    Northside Village  31.610729  -84.173519
64            El Dorado  31.179398  -81.383986
68        Denver Harbor  27.822410  -82.610894
70   Pleasantville Area  39.809786  -82.522103
71           Northshore  30.027776  -95.226636
75             Downtown  21.308945 -157.861341
78     Greater Eastwood  39.018362  -94.535198
82   Greater Third Ward  35.232373  -80.849853
84          South Union  41.568131  -76.998855
85   Gulfgate Riverview  42.376486  -71.243248
86          Pine Valley  30.660473  -95.452442
87           Pecan Park  30.511904  -81.622597
89           South Park  41.735585  -88.303681
96          South Acres  31.324531  -89.335327
102           Ellington  36.757284  -85.423020
103          Clear Lake  33.078174  -96.495265
110         Upper Kirby  39.802855  -80.117008
111            Lawndale  35.414019  -81.563147
112             Wayside  33.325090 -101.807104

Homestead is the same as East Little York;<br>
Gulfgate Riverview is the same as Pine Valley<br>
Lawndale is the same as Wayside

In [56]:
neighborhoods = neighborhoods[~neighborhoods.Neighborhood.isin(('Homestead', 'Gulfgate Riverview', 'Lawndale'))]

In [57]:
neighborhoods.loc[(neighborhoods.Latitude - 29).abs() > 1]

           Neighborhood   Latitude   Longitude
7         Hidden Valley  33.594555  -84.191030
21         Briar Forest  32.995124  -97.542801
30             Montrose  39.164153  -88.381063
32           Sharpstown  39.136499  -76.218564
33              Gulfton  37.183669  -94.544951
34     University Place  37.936437  -88.609499
35             Westwood  31.085472  -94.158249
36             Braeburn  37.264581  -80.026706
43             Westbury  30.102158  -94.309631
47    Central Southwest  35.803687  -89.537297
51             Kingwood  30.049708  -95.184630
53            Northside  31.610729  -84.173519
54            Northline  44.990556  -92.708355
55               Jensen  30.299572  -94.812491
56     East Little York  39.894814  -84.217782
58              Trinity  33.345955  -88.462263
62    Northside Village  31.610729  -84.173519
64            El Dorado  31.179398  -81.383986
68        Denver Harbor  27.822410  -82.610894
70   Pleasantville Area  39.809786  -82.522103
71           Northshore  30.027776  -95.226636
75             Downtown  21.308945 -157.861341
78     Greater Eastwood  39.018362  -94.535198
82   Greater Third Ward  35.232373  -80.849853
84          South Union  41.568131  -76.998855
86          Pine Valley  30.660473  -95.452442
87           Pecan Park  30.511904  -81.622597
89           South Park  41.735585  -88.303681
96          South Acres  31.324531  -89.335327
102           Ellington  36.757284  -85.423020
103          Clear Lake  33.078174  -96.495265
110         Upper Kirby  39.802855  -80.117008
112             Wayside  33.325090 -101.807104

In [58]:
neighborhoods.loc[(neighborhoods.Latitude - 29).abs() > 1, ['Latitude', 'Longitude']] = [[29.8901821,-95.4291368],
[29.7515312,-95.5903642],
[29.7469666,-95.413642],
[29.7019788,-95.5419795],
[29.7118784,-95.4970781],
[29.7143069,-95.4190756],
[29.6774603,-95.5657805],
[29.6827427,-95.5262247],
[29.650939,-95.4980373],
[29.6355929,-95.4734624],
[30.0585306,-95.2413034],
[29.8650576,-95.4574048],
[29.8588049,-95.4173348],
[29.8415472,-95.3758639],
[29.8818703,-95.3297437],
[29.8263243,-95.3287154],
[29.795349,-95.380751],
[29.8079298,-95.2638717],
[29.7623224,-95.3274328],
[29.7774907,-95.2934356],
[29.7729723,-95.2597734],
[29.7575272,-95.3668266],
[29.735638,-95.3416359],
[29.7289782,-95.3626455],
[29.6952297,-95.3625073],
[29.7103713,-95.3310235],
[29.7070954,-95.2949683],
[29.6682788,-95.3512867],
[29.623533,-95.3745097],
[29.6039379,-95.2377624],
[29.5837969,-95.1430025],
[29.7314782,-95.4441244],
[29.7227783,-95.3160188]]

In [60]:
neighborhoods.loc[(neighborhoods.Longitude + 95).abs() > 1]

      Neighborhood   Latitude  Longitude
19        Eldridge  29.468021 -96.355244
22       Westchase  28.055017 -82.609820
24  Greater Uptown  29.935760 -90.133407
74     Fourth Ward  29.812292 -85.305565
88       Sunnyside  29.139967 -98.052506

In [61]:
neighborhoods.loc[(neighborhoods.Longitude + 95).abs() > 1, ['Latitude', 'Longitude']] = [[29.742661,-95.720858],
[29.7260909,-95.5744971],
[29.7486921,-95.480928],
[29.7568289,-95.3841914],
[29.6641192,-95.3767489]]

In [62]:
dict_cities['Houston'] = neighborhoods

In [85]:
dict_cities['Houston'].loc[dict_cities['Houston'].duplicated(subset=['Latitude', 'Longitude'])]

           Neighborhood   Latitude  Longitude
30             Montrose  29.746967 -95.413642
49              Houston  29.758938 -95.367697
52         Lake Houston  29.758938 -95.367697
59      Houston Gardens  29.758938 -95.367697
84          South Union  29.695230 -95.362507
102           Ellington  29.603938 -95.237762
108  Spring Branch East  29.778449 -95.483190

### Chicago

In [63]:
table = pd.read_html('https://en.wikipedia.org/wiki/List_of_neighborhoods_in_Chicago', header=0)[0]

In [64]:
table.head()

      Neighborhood  Community area
0      Albany Park     Albany Park
1  Altgeld Gardens       Riverdale
2    Andersonville       Edgewater
3   Archer Heights  Archer Heights
4    Armour Square   Armour Square

In [65]:
neighborhoods = table[['Neighborhood']]

In [66]:
neighborhoods[['Latitude', 'Longitude']] = pd.DataFrame((neighborhoods.Neighborhood + ', Chicago IL, USA').apply(get_coord).tolist(), index=neighborhoods.index)

The geograpical coordinate of Albany Park, Chicago IL, USA are 41.97, -87.72.
The geograpical coordinate of Altgeld Gardens, Chicago IL, USA are 41.65, -87.60.
The geograpical coordinate of Andersonville, Chicago IL, USA are 41.98, -87.67.
The geograpical coordinate of Archer Heights, Chicago IL, USA are 41.81, -87.73.
The geograpical coordinate of Armour Square, Chicago IL, USA are 41.84, -87.63.
The geograpical coordinate of Ashburn, Chicago IL, USA are 41.75, -87.71.
The geograpical coordinate of Auburn Gresham, Chicago IL, USA are 41.74, -87.66.
The geograpical coordinate of Avalon Park, Chicago IL, USA are 41.75, -87.59.
The geograpical coordinate of Avondale, Chicago IL, USA are 41.94, -87.71.
The geograpical coordinate of Avondale Gardens, Chicago IL, USA are 41.94, -87.71.
The geograpical coordinate of Back of the Yards, Chicago IL, USA are 41.81, -87.67.
The geograpical coordinate of Belmont Central, Chicago IL, USA are 41.94, -87.65.
The geograpical coordinate of Belmont Gardens, Chicago IL, USA are 41.94, -87.65.
The geograpical coordinate of Belmont Heights, Chicago IL, USA are 42.09, -87.98.
The geograpical coordinate of Belmont Terrace, Chicago IL, USA are 41.94, -87.65.
The geograpical coordinate of Beverly, Chicago IL, USA are 41.72, -87.67.
The geograpical coordinate of Beverly View, Chicago IL, USA are 41.72, -87.67.
The geograpical coordinate of Beverly Woods, Chicago IL, USA are 41.68, -87.68.
The geograpical coordinate of Big Oaks, Chicago IL, USA are 41.40, -87.59.
The geograpical coordinate of Boystown, Chicago IL, USA are 41.94, -87.65.
The geograpical coordinate of Bowmanville, Chicago IL, USA are 41.97, -87.69.
The geograpical coordinate of Brainerd, Chicago IL, USA are 41.73, -87.66.
The geograpical coordinate of Brickyard, Chicago IL, USA are 41.93, -87.79.
The geograpical coordinate of Bridgeport, Chicago IL, USA are 41.84, -87.65.
The geograpical coordinate of Brighton Park, Chicago IL, USA are 41.82, -87.70.
The geograpical coordinate of Bronzeville, Chicago IL, USA are 41.83, -87.63.
The geograpical coordinate of Bucktown, Chicago IL, USA are 41.91, -87.67.
The geograpical coordinate of Budlong Woods, Chicago IL, USA are 41.98, -87.70.
The geograpical coordinate of Buena Park, Chicago IL, USA are 41.96, -87.65.
The geograpical coordinate of Burnside, Chicago IL, USA are 41.73, -87.60.
The geograpical coordinate of CabriniGreen, Chicago IL, USA are 41.90, -87.64.
The geograpical coordinate of Calumet Heights, Chicago IL, USA are 41.73, -87.58.
The geograpical coordinate of Canaryville, Chicago IL, USA are 41.81, -87.64.
The geograpical coordinate of Central Station, Chicago IL, USA are 41.89, -87.77.
The geograpical coordinate of Chatham, Chicago IL, USA are 41.74, -87.61.
The geograpical coordinate of Chicago Lawn, Chicago IL, USA are 41.78, -87.70.
The geograpical coordinate of Chinatown, Chicago IL, USA are 41.85, -87.63.
The geograpical coordinate of Chrysler Village, Chicago IL, USA are 41.95, -87.76.
The geograpical coordinate of Clarendon Park, Chicago IL, USA are 41.96, -87.65.
The geograpical coordinate of Clearing East, Chicago IL, USA are 41.78, -87.77.
The geograpical coordinate of Clearing West, Chicago IL, USA are 41.78, -87.77.
The geograpical coordinate of Cragin, Chicago IL, USA are 41.92, -87.76.
The geograpical coordinate of Crestline, Chicago IL, USA are 41.74, -87.73.
The geograpical coordinate of Dearborn Homes, Chicago IL, USA are 41.84, -87.63.
The geograpical coordinate of Dearborn Park, Chicago IL, USA are 41.87, -87.63.
The geograpical coordinate of Douglas Park, Chicago IL, USA are 41.86, -87.70.
The geograpical coordinate of Dunning, Chicago IL, USA are 41.95, -87.80.
The geograpical coordinate of East Beverly, Chicago IL, USA are 41.72, -87.67.
The geograpical coordinate of East Chatham, Chicago IL, USA are 41.74, -87.61.
The geograpical coordinate of East Garfield Park, Chicago IL, USA are 41.88, -87.70.
The geograpical coordinate of East Hyde Park, Chicago IL, USA are 41.79, -87.59.
The geograpical coordinate of East Pilsen, Chicago IL, USA are 41.86, -87.66.
The geograpical coordinate of East Side, Chicago IL, USA are 41.71, -87.53.
The geograpical coordinate of East Village, Chicago IL, USA are 41.99, -87.92.
The geograpical coordinate of Eden Green, Chicago IL, USA are 41.89, -87.67.
The geograpical coordinate of Edgebrook, Chicago IL, USA are 42.00, -87.76.
The geograpical coordinate of Edgewater, Chicago IL, USA are 41.98, -87.66.
The geograpical coordinate of Edgewater Beach, Chicago IL, USA are 41.98, -87.66.
The geograpical coordinate of Edgewater Glen, Chicago IL, USA are 41.99, -87.66.
The geograpical coordinate of Edison Park, Chicago IL, USA are 42.01, -87.81.
The geograpical coordinate of Englewood, Chicago IL, USA are 41.78, -87.65.
The geograpical coordinate of Fernwood, Chicago IL, USA are 41.70, -87.64.
The geograpical coordinate of Fifth City, Chicago IL, USA are 41.75, -87.59.
The geograpical coordinate of Ford City, Chicago IL, USA are 41.69, -87.72.
The geograpical coordinate of Forest Glen, Chicago IL, USA are 41.99, -87.75.
The geograpical coordinate of Fuller Park, Chicago IL, USA are 41.82, -87.63.
The geograpical coordinate of Gage Park, Chicago IL, USA are 41.80, -87.70.
The geograpical coordinate of Galewood, Chicago IL, USA are 41.92, -87.79.
The geograpical coordinate of The Gap, Chicago IL, USA are 41.94, -87.66.
The geograpical coordinate of Garfield Ridge, Chicago IL, USA are 41.80, -87.75.
The geograpical coordinate of Gladstone Park, Chicago IL, USA are 41.98, -87.78.
The geograpical coordinate of Gold Coast, Chicago IL, USA are 41.91, -87.63.
The geograpical coordinate of Golden Gate, Chicago IL, USA are 41.66, -87.61.
The geograpical coordinate of Goose Island, Chicago IL, USA are 41.90, -87.65.
The geograpical coordinate of Graceland West, Chicago IL, USA are 41.96, -87.66.
The geograpical coordinate of Grand Boulevard, Chicago IL, USA are 41.81, -87.62.
The geograpical coordinate of Grand Crossing, Chicago IL, USA are 41.76, -87.60.
The geograpical coordinate of Greater Grand Crossing, Chicago IL, USA are 41.77, -87.62.
The geograpical coordinate of Greektown, Chicago IL, USA are 41.88, -87.65.
The geograpical coordinate of Gresham, Chicago IL, USA are 41.74, -87.64.
The geograpical coordinate of Groveland Park, Chicago IL, USA are 41.83, -87.61.
The geograpical coordinate of Hamilton Park, Chicago IL, USA are 41.76, -87.64.
The geograpical coordinate of Hanson Park, Chicago IL, USA are 41.92, -87.77.
The geograpical coordinate of Heart of Chicago, Chicago IL, USA are 41.91, -87.68.
The geograpical coordinate of Hegewisch, Chicago IL, USA are 41.65, -87.55.
The geograpical coordinate of Hermosa, Chicago IL, USA are 41.93, -87.73.
The geograpical coordinate of Hollywood Park, Chicago IL, USA are 41.99, -87.71.
The geograpical coordinate of Homan Square, Chicago IL, USA are 41.87, -87.71.
The geograpical coordinate of Humboldt Park, Chicago IL, USA are 41.91, -87.70.
The geograpical coordinate of Hyde Park, Chicago IL, USA are 41.79, -87.59.
The geograpical coordinate of Illinois Medical District, Chicago IL, USA are 41.88, -87.67.
The geograpical coordinate of Irving Park, Chicago IL, USA are 41.95, -87.74.
The geograpical coordinate of The Island, Chicago IL, USA are 41.88, -87.62.
The geograpical coordinate of Jackowo, Chicago IL, USA are 41.94, -87.71.
The geograpical coordinate of Jefferson Park, Chicago IL, USA are 41.97, -87.76.
The geograpical coordinate of K-Town, Chicago IL, USA are 41.90, -87.69.
The geograpical coordinate of Kelvyn Park, Chicago IL, USA are 41.93, -87.74.
The geograpical coordinate of Kennedy Park, Chicago IL, USA are 41.69, -87.68.
The geograpical coordinate of Kensington, Chicago IL, USA are 41.68, -87.61.
The geograpical coordinate of Kenwood, Chicago IL, USA are 41.81, -87.60.
The geograpical coordinate of Kilbourn Park, Chicago IL, USA are 41.95, -87.74.
The geograpical coordinate of Kosciuszko Park, Chicago IL, USA are 41.93, -87.72.
The geograpical coordinate of Lake Meadows, Chicago IL, USA are 41.83, -87.61.
The geograpical coordinate of Lake View, Chicago IL, USA are 41.95, -87.66.
The geograpical coordinate of Lake View East, Chicago IL, USA are 41.95, -87.66.
The geograpical coordinate of LeClaire Courts, Chicago IL, USA are 41.82, -87.74.
The geograpical coordinate of Lilydale, Chicago IL, USA are 41.72, -87.63.
The geograpical coordinate of Lincoln Park, Chicago IL, USA are 41.94, -87.64.
The geograpical coordinate of Lincoln Square, Chicago IL, USA are 41.98, -87.69.
The geograpical coordinate of Lithuanian Plaza, Chicago IL, USA are 41.77, -87.69.
The geograpical coordinate of Logan Square, Chicago IL, USA are 41.93, -87.71.
The geograpical coordinate of Longwood Manor, Chicago IL, USA are 41.71, -87.67.
The geograpical coordinate of The Loop, Chicago IL, USA are 41.88, -87.63.
The geograpical coordinate of Lower West Side, Chicago IL, USA are 41.85, -87.67.
The geograpical coordinate of Loyola, Chicago IL, USA are 42.00, -87.66.
The geograpical coordinate of Magnificent Mile, Chicago IL, USA are 41.89, -87.62.
The geograpical coordinate of Margate Park, Chicago IL, USA are 41.97, -87.65.
The geograpical coordinate of Marquette Park, Chicago IL, USA are 41.77, -87.70.
The geograpical coordinate of Marshall Square, Chicago IL, USA are 41.85, -87.69.
The geograpical coordinate of Marynook, Chicago IL, USA are 41.74, -87.59.
The geograpical coordinate of Mayfair, Chicago IL, USA are 41.97, -87.74.
The geograpical coordinate of McKinley Park, Chicago IL, USA are 41.83, -87.67.
The geograpical coordinate of Merchant Park, Chicago IL, USA are 41.93, -87.71.
The geograpical coordinate of Montclare, Chicago IL, USA are 41.93, -87.80.
The geograpical coordinate of Morgan Park, Chicago IL, USA are 41.69, -87.67.
The geograpical coordinate of Mount Greenwood, Chicago IL, USA are 41.70, -87.71.
The geograpical coordinate of Museum Campus, Chicago IL, USA are 41.89, -87.61.
The geograpical coordinate of New Eastside, Chicago IL, USA are 42.03, -88.25.
The geograpical coordinate of Near North Side, Chicago IL, USA are 41.90, -87.63.
The geograpical coordinate of Near West Side, Chicago IL, USA are 41.88, -87.67.
The geograpical coordinate of New Chinatown, Chicago IL, USA are 41.85, -87.63.
The geograpical coordinate of New City, Chicago IL, USA are 41.81, -87.66.
The geograpical coordinate of Noble Square, Chicago IL, USA are 41.90, -87.66.
The geograpical coordinate of North Austin, Chicago IL, USA are 41.89, -87.76.
The geograpical coordinate of North Center, Chicago IL, USA are 41.96, -87.68.
The geograpical coordinate of North Halsted, Chicago IL, USA are 41.78, -87.64.
The geograpical coordinate of North Kenwood, Chicago IL, USA are 41.81, -87.60.
The geograpical coordinate of North Lawndale, Chicago IL, USA are 41.86, -87.71.
The geograpical coordinate of North Mayfair, Chicago IL, USA are 41.96, -87.75.
The geograpical coordinate of North Park, Chicago IL, USA are 41.98, -87.72.
The geograpical coordinate of Nortown, Chicago IL, USA are 41.91, -87.66.
The geograpical coordinate of Norwood Park East, Chicago IL, USA are 41.99, -87.80.
The geograpical coordinate of Norwood Park West, Chicago IL, USA are 41.99, -87.80.
The geograpical coordinate of Oakland, Chicago IL, USA are 41.82, -87.61.
The geograpical coordinate of O'Hare, Chicago IL, USA are 41.97, -87.91.
The geograpical coordinate of Old Edgebrook, Chicago IL, USA are 41.99, -87.77.
The geograpical coordinate of Old Irving Park, Chicago IL, USA are 41.95, -87.74.
The geograpical coordinate of Old Norwood, Chicago IL, USA are 41.99, -87.80.
The geograpical coordinate of Oriole Park, Chicago IL, USA are 41.98, -87.82.
The geograpical coordinate of Palmer Square, Chicago IL, USA are 41.88, -87.63.
The geograpical coordinate of Park Manor, Chicago IL, USA are 41.77, -87.62.
The geograpical coordinate of Park West, Chicago IL, USA are 41.90, -87.64.
The geograpical coordinate of Parkview, Chicago IL, USA are 41.88, -87.62.
The geograpical coordinate of Peterson Park, Chicago IL, USA are 41.99, -87.72.
The geograpical coordinate of Pill Hill, Chicago IL, USA are 41.73, -87.57.
The geograpical coordinate of Pilsen, Chicago IL, USA are 41.86, -87.66.
The geograpical coordinate of Polish Village, Chicago IL, USA are 41.90, -87.66.
The geograpical coordinate of Portage Park, Chicago IL, USA are 41.96, -87.77.
The geograpical coordinate of Prairie Avenue Historic District, Chicago IL, USA are 41.86, -87.62.
The geograpical coordinate of Prairie Shores, Chicago IL, USA are 41.84, -87.62.
The geograpical coordinate of Princeton Park, Chicago IL, USA are 41.73, -87.63.
The geograpical coordinate of Printer's Row, Chicago IL, USA are 41.87, -87.63.
The geograpical coordinate of Pulaski Park, Chicago IL, USA are 41.91, -87.66.
The geograpical coordinate of Pullman, Chicago IL, USA are 41.70, -87.60.
The geograpical coordinate of Ranch Triangle, Chicago IL, USA are 45.79, -91.87.
The geograpical coordinate of Ravenswood, Chicago IL, USA are 41.97, -87.67.
The geograpical coordinate of Ravenswood Gardens, Chicago IL, USA are 41.96, -87.70.
The geograpical coordinate of Ravenswood Manor, Chicago IL, USA are 41.96, -87.70.
The geograpical coordinate of River North, Chicago IL, USA are 41.95, -87.74.
The geograpical coordinate of River West, Chicago IL, USA are 41.79, -87.75.
The geograpical coordinate of River's Edge, Chicago IL, USA are 47.52, -111.27.
The geograpical coordinate of Riverdale, Chicago IL, USA are 41.67, -87.61.
The geograpical coordinate of Rogers Park, Chicago IL, USA are 42.01, -87.67.
The geograpical coordinate of Roscoe Village, Chicago IL, USA are 41.94, -87.68.
The geograpical coordinate of Rosehill, Chicago IL, USA are 41.99, -87.68.
The geograpical coordinate of Roseland, Chicago IL, USA are 41.70, -87.63.
The geograpical coordinate of Rosemoor, Chicago IL, USA are 41.71, -87.61.
The geograpical coordinate of Sauganash, Chicago IL, USA are 41.99, -87.74.
The geograpical coordinate of Schorsch Forest View, Chicago IL, USA are 41.95, -87.78.
The geograpical coordinate of Schorsch Village, Chicago IL, USA are 41.95, -87.78.
The geograpical coordinate of Scottsdale, Chicago IL, USA are 41.75, -87.74.
The geograpical coordinate of Sheridan Park, Chicago IL, USA are 41.87, -87.65.
The geograpical coordinate of Sleepy Hollow, Chicago IL, USA are 41.81, -87.74.
The geograpical coordinate of Smith Park, Chicago IL, USA are 41.89, -87.69.
The geograpical coordinate of South Austin, Chicago IL, USA are 41.89, -87.76.
The geograpical coordinate of South Chicago, Chicago IL, USA are 41.73, -87.55.
The geograpical coordinate of South Commons, Chicago IL, USA are 41.84, -87.62.
The geograpical coordinate of South Deering, Chicago IL, USA are 41.69, -87.57.
The geograpical coordinate of South East Ravenswood, Chicago IL, USA are 41.97, -87.67.
The geograpical coordinate of South Edgebrook, Chicago IL, USA are 41.99, -87.75.
The geograpical coordinate of South Lawndale, Chicago IL, USA are 41.84, -87.71.
The geograpical coordinate of South Loop, Chicago IL, USA are 41.86, -87.63.
The geograpical coordinate of South Shore, Chicago IL, USA are 41.76, -87.58.
The geograpical coordinate of Stateway Gardens, Chicago IL, USA are 41.83, -87.63.
The geograpical coordinate of Stony Island Park, Chicago IL, USA are 41.72, -87.58.
The geograpical coordinate of Streeterville, Chicago IL, USA are 41.89, -87.62.
The geograpical coordinate of Tri-Taylor, Chicago IL, USA are 41.87, -87.64.
The geograpical coordinate of Ukrainian Village, Chicago IL, USA are 41.90, -87.68.
The geograpical coordinate of Union Ridge, Chicago IL, USA are 41.88, -87.64.
The geograpical coordinate of University Village, Chicago IL, USA are 41.88, -87.63.
The geograpical coordinate of Uptown, Chicago IL, USA are 41.97, -87.66.
The geograpical coordinate of The Villa, Chicago IL, USA are 41.73, -87.55.
The geograpical coordinate of Vittum Park, Chicago IL, USA are 41.80, -87.75.
The geograpical coordinate of Washington Heights, Chicago IL, USA are 41.71, -87.66.
The geograpical coordinate of Washington Park, Chicago IL, USA are 41.79, -87.62.
The geograpical coordinate of Wentworth Gardens, Chicago IL, USA are 41.83, -87.63.
The geograpical coordinate of West Beverly, Chicago IL, USA are 41.72, -87.67.
The geograpical coordinate of West Chatham, Chicago IL, USA are 41.74, -87.61.
The geograpical coordinate of West Chesterfield, Chicago IL, USA are 42.05, -87.99.
The geograpical coordinate of West DePaul, Chicago IL, USA are 41.92, -87.65.
The geograpical coordinate of West Elsdon, Chicago IL, USA are 41.79, -87.72.
The geograpical coordinate of West Englewood, Chicago IL, USA are 41.78, -87.67.
The geograpical coordinate of West Garfield Park, Chicago IL, USA are 41.88, -87.73.
The geograpical coordinate of West Humboldt Park, Chicago IL, USA are 41.91, -87.70.
The geograpical coordinate of West Lakeview, Chicago IL, USA are 41.94, -87.65.
The geograpical coordinate of West Lawn, Chicago IL, USA are 41.77, -87.72.
The geograpical coordinate of West Loop, Chicago IL, USA are 41.88, -87.64.
The geograpical coordinate of West Morgan Park, Chicago IL, USA are 41.69, -87.67.
The geograpical coordinate of West Pullman, Chicago IL, USA are 41.68, -87.64.
The geograpical coordinate of West Ridge, Chicago IL, USA are 42.00, -87.70.
The geograpical coordinate of West Rogers Park, Chicago IL, USA are 42.01, -87.67.
The geograpical coordinate of West Town, Chicago IL, USA are 41.90, -87.69.
The geograpical coordinate of West Woodlawn, Chicago IL, USA are 41.78, -87.60.
The geograpical coordinate of Wicker Park, Chicago IL, USA are 41.91, -87.68.
The geograpical coordinate of Wildwood, Chicago IL, USA are 42.00, -87.78.
The geograpical coordinate of Woodlawn, Chicago IL, USA are 41.78, -87.60.
The geograpical coordinate of Wrightwood, Chicago IL, USA are 41.75, -87.70.
The geograpical coordinate of Wrigleyville, Chicago IL, USA are 41.95, -87.66.

In [67]:
neighborhoods.loc[neighborhoods.isna().sum(1) > 0]

                            Neighborhood  Latitude  Longitude
6                        Ashburn Estates       NaN        NaN
42                 Cottage Grove Heights       NaN        NaN
68                 Fulton River District       NaN        NaN
95                          Irving Woods       NaN        NaN
98                Jackson Park Highlands       NaN        NaN
110                  Lakewood / Balmoral       NaN        NaN
112  Legends South (Robert Taylor Homes)       NaN        NaN
117                         Little Italy       NaN        NaN
118                       Little Village       NaN        NaN
157                             Old Town       NaN        NaN
158                    Old Town Triangle       NaN        NaN
167                      Polish Downtown       NaN        NaN
189                          Saint Ben's       NaN        NaN
194                  Sheffield Neighbors       NaN        NaN
196            Sheridan Station Corridor       NaN        NaN
211                      Talley's Corner       NaN        NaN
219                            Wacawowo       NaN        NaN
244                 Wrightwood Neighbors       NaN        NaN

Polish Downtown is no longer a neighborhood;<br>
Sheridan Station Corridor cannot be found on Google;<br>
Talley's Corner cannot be found on Google

In [73]:
neighborhoods = neighborhoods.loc[~neighborhoods.Neighborhood.isin(['Polish Downtown', 'Sheridan Station Corridor', "Talley's Corner"])]

In [74]:
neighborhoods.loc[neighborhoods.isna().sum(1) > 0]

                            Neighborhood  Latitude  Longitude
6                        Ashburn Estates       NaN        NaN
42                 Cottage Grove Heights       NaN        NaN
68                 Fulton River District       NaN        NaN
95                          Irving Woods       NaN        NaN
98                Jackson Park Highlands       NaN        NaN
110                  Lakewood / Balmoral       NaN        NaN
112  Legends South (Robert Taylor Homes)       NaN        NaN
117                         Little Italy       NaN        NaN
118                       Little Village       NaN        NaN
157                             Old Town       NaN        NaN
158                    Old Town Triangle       NaN        NaN
189                          Saint Ben's       NaN        NaN
194                  Sheffield Neighbors       NaN        NaN
219                            Wacawowo       NaN        NaN
244                 Wrightwood Neighbors       NaN        NaN

In [75]:
neighborhoods.loc[neighborhoods.isna().sum(1) > 0, ['Latitude', 'Longitude']] = [[41.7479953,-87.7246529],
[41.7185428,-87.6020408],
[41.8898792,-87.6480075],
[41.9520932,-87.8390223],
[41.769787,-87.5832518],
[41.9799505,-87.6671326],
[41.8091494,-87.6460559],
[41.8675945,-87.6643539],
[41.845231,-87.7209646],
[41.9111221,-87.6492029],
[41.9111221,-87.6492029],
[41.9504386,-87.687881],
[41.921283,-87.663281],
[41.9393819,-87.7164201],
[41.9289822,-87.6605451]]

In [77]:
neighborhoods.loc[(neighborhoods.Latitude - 42).abs() > 1]

       Neighborhood   Latitude   Longitude
176  Ranch Triangle  45.785819  -91.873151
182    River's Edge  47.522525 -111.274075

In [78]:
neighborhoods.loc[(neighborhoods.Latitude - 42).abs() > 1, ['Latitude', 'Longitude']] = [[41.9145052,-87.6606578],
[41.979527, -87.733849]]

In [79]:
neighborhoods.loc[(neighborhoods.Longitude + 87).abs() > 1]

     Neighborhood   Latitude  Longitude
136  New Eastside  42.032973   -88.2488

In [80]:
neighborhoods.loc[(neighborhoods.Longitude + 87).abs() > 1, ['Latitude', 'Longitude']] = [[41.8866036,-87.62147]]

In [81]:
dict_cities['Chicago'] = neighborhoods

In [86]:
dict_cities['Chicago'].loc[dict_cities['Chicago'].duplicated(subset=['Latitude', 'Longitude'])]

              Neighborhood   Latitude  Longitude
10        Avondale Gardens  41.938921 -87.711168
13         Belmont Gardens  41.939796 -87.653328
15         Belmont Terrace  41.939796 -87.653328
17            Beverly View  41.718153 -87.671767
41           Clearing West  41.778677 -87.769202
49            East Beverly  41.718153 -87.671767
50            East Chatham  41.741145 -87.612548
59         Edgewater Beach  41.983369 -87.663952
92               Hyde Park  41.794446 -87.593924
97                 Jackowo  41.938921 -87.711168
109         Lake View East  41.947050 -87.655429
139          New Chinatown  41.851658 -87.633138
145          North Kenwood  41.809144 -87.597991
151      Norwood Park West  41.985590 -87.800582
155        Old Irving Park  41.953365 -87.736447
156            Old Norwood  41.985590 -87.800582
158      Old Town Triangle  41.911122 -87.649203
163               Parkview  41.875562 -87.624421
166                 Pilsen  41.856010 -87.656306
192       Schorsch Village  41.947254 -87.779226
199           South Austin  41.887876 -87.764851
203  South East Ravenswood  41.965591 -87.666724
223           West Beverly  41.718153 -87.671767
224           West Chatham  41.741145 -87.612548
230     West Humboldt Park  41.905767 -87.704174
234       West Morgan Park  41.690312 -87.666716
237       West Rogers Park  42.010531 -87.670748
238              West Town  41.901421 -87.686166
242               Woodlawn  41.779479 -87.599493